/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4em;
  color: #e2e3ed

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
  
  font-size: 1em;
  line-height: 1.4em;
  color: #e2e3ed;
 

}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  width: 90%;
  margin: auto;
}
 
h1 {
  font-size: 2.25em;
  line-height: 43px;
  font-weight: 500px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}

h3 h4 {
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}

p {
  font-size: .875em;
}

nav {
  font-size: 1.125em;
  font-weight: bold;
  
}

ul, 
ol {
 list-style: none;
 

}
 
a {
	
  color: #e2e3ed;
  text-decoration: none;
}
 
 
img {
 
}
 
figure {
 
}
 
address {
 
}
 
.content-wrapper {
 
}


/* -------------------- Base Header - Footer Styles -------------------- */
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
  color: #e2e3ed;
}

/* Header styles */

header {
  padding: 15px 0;
  display: flex;
  justify-content: center;

}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

header .content-wrapper a {
  width: 60%;
}

header nav {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 15px;
}

header nav ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 
}


.hero-area {
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.content-wrapper {
  width: 100%;
}

.content-wrapper h3 {
  padding: 20px 0;
}

.content-wrapper p {
  padding-bottom: 30px 0;
}

.form .text {
  padding: 1em;
}

.form-description {
 
}

.form .button {
  padding: 20px 0;
}


.features {
  padding: 50px 0;

}

.features h2 {
  padding: 60px 0;
  margin: 0 auto;
}

.features .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  flex-basis: auto;
  width: 60%;
  margin: auto;

}
/**

.features .features-items {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-basis: auto;
}
**/


.features p {
  margin: 0;
  text-align: center;
 

}

.fontawesome-icon {
  padding-top: 30px;
  padding-bottom: 40px;
}

.features-item-description {
  padding-bottom: 30px;
}


.reviews {
  padding: 50px 0;
  background-color: #527158;
}

.reviews .content-wrapper {
  display: flex;
  flex-flow: wrap;
}

.review-description {
  display: flex;
  justify-content: center;
}

.reviews h2 {
  width: 100%;
  padding-bottom: 40px;
}

.reviews h3 {
  padding: 20px 0;
}

footer {
  padding: 50px 0;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 65%;
  margin: 50px 0;
}

footer .content-wrapper .footer-content .contact {
  width: 60%;
}


footer h4 {
  padding: 20px 0;
}

footer .contact {
  padding-bottom: 50px;
  width: 60%;


}

footer .social {
  padding-bottom: 50px;
  width: 60%;
  background-color: #527158;
}

footer .Copyright {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 20px 0;
  width: 100%;
}

aside {
  background-color: #527158;
}

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq-content .content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.faq-content .content-wrapper .answer {
  width: 100%;
}

.faq-content h2 {
  width: 100%;

}


/* ==========================================================================
   About Page
   ========================================================================== */

.mission {
  background-color: #527158;
  padding: 50px 0;
}

  .mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;

}

.mission-content p {
  width: 100%;
}

.contact .content-wrapper {
  display: flex;
  justify-content: space-between;
   
}

address {
  width: 40%;
  text-align: center;
}

footer .content-wrapper h4 {
  text-align: center;
}

footer .footer-content {
  flex-direction: column;

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {ad
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
 
  header .content-wrapper {
    flex-flow: nowrap;
  }

  header .content-wrapper nav {
    display: flex;
    justify-content: flex-end;
  }

  header .content-wrapper nav ul {
    display: flex;
    justify-content: space-between;
  }
  header .content-wrapper h3 {
    width: 80%;
  }

  header .content-wrapper p {
    width: 30%;
  }


  .form-description {
    display: flex;
    justify-content: space-between;

  }

  .form-description .learn-more {
    width: 40%;
    

  }

  aside .news-signup {
    width: 40%;
    
  }

  .features .content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    margin: auto;

  }

  .features .features-items {
    width: 40%;
    padding: 20px;
  }

  .reviews h2 {
    width: 100%;
  }

  .reviews .content-wrapper img {
    width: 50%;
  }

  article {
    width: 50%;
  }

  footer .content-wrapper contact {
    width: 30%;
    display: flex;
  }

  footer .contact {
    width: 30%;
  }

  footer .social {
    width: 30%;
  }

  .faq-content .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  .faq-content .content-wrapper .answer {
    width: 50%;
  } 
  
/** about page @media min 768**/

.mission-content {
  flex-direction: row;
}
.mission-content p {
  width: 45%;
}
footer .footer-content {
  flex-direction: row;
  justify-content: space-between;
}

}




@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
}






/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}